<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
	<link rel="stylesheet" href="static/main.css">
</head>

<body>
   <div class="container">
      <div class="loginbg">
          <div class="box signin">
              <button class="signinbtn">Sign in</button>
          </div>
          <div class="box signup">
            
            <button class="signupbtn">Forgot Password?</button>
          </div>
      </div>
      <div class="formbx">
        <div class="form signinform">
                <br><h1>Sign In</h1><br>
                <form method="POST" action="">
					{{ form.hidden_tag() }}
					{{ form.username }}
					{{ form.password }}
					{{ form.submit }}
				</form>
				
		
			   Don't have an account?<a href="{{ url_for('register') }}"> Sign Up</a>
        </div>
        
      </div>
      </div>
</body>
<style>
.formbx h1{
	text-align: center;
}
</style>
</html>